@media (min-width: 800px) {

    .menu-btn {
        display: none;
    }

    .header-inner {
        flex-wrap: nowrap;
    }

        .logo {
            width: 60px;
            height: auto;
        }

    .primary-nav {
        display: flex;
        width: auto;
        flex-direction: row;
        margin-left: auto;
        padding-top: 0;
    }

    .members.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* LIST: four aligned columns like the screenshot */
    .members.list .member-card {
        grid-template-columns: 1.2fr 2fr 1fr 2fr;
        /* name | address | phone | link */
        align-items: center;
        column-gap: 1rem;
    }

    .members.list .member-name,
    .members.list .member-address,
    .members.list .member-phone,
    .members.list .member-link {
        margin: 0;
        /* tight row look */
    }

    .members.list .member-link {
        justify-self: start;
    }

    .footer-inner {
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }
}